// Basic navbar styling for demo purposes
.navbar {
	width: 100%;
	text-align: center;
	padding: $padding-default 0;

	// Styling for the logo.
	// Make adjustments to the height of the logo.
	.logo {
		display: block;
		height: 30px;

		img {
			height: 100%;
		}
	}

	// Styling for the menu
	.nav {
		display: none;

		&.expanded {
			display: block;
		}

		// Styling for first level menu items
		> li {
		}
	}

	.menu-btn {
		position: absolute;
		left: $margin-default;
		font-size: 26px;
		line-height: 26px;
		cursor: pointer;
	}

	// Default navbar with a light background
	&.navbar-default {
		background-color: $color03;
		color: $color01;

		a { color: $color02; }
	}

	// Inverted navbar with of course a dark background
	&.navbar-inverted {
		background-color: $theme02;
		color: $color01;

		a {	color: $color01; }
	}

	// Navbar with a fixed position at te top
	// Make sure you add padding (inherited from the navbar) to the top of the body
	&.navbar-fixed {
		position: fixed;
		top: 0;
	}
}

@media only screen and (min-width: $b3) {

	.navbar {
		padding: 0;
		text-align: left;
		height: 75px;

		// Vertical align for all container's children
		.container {
			display: flex;
			align-items: center;
			height: 100%;
		}

		// Styling for the logo.
		.logo {
			display: inline-block;
			margin: 0 $margin-default*3 0 0;
		}

		// Styling for the menu
		.nav {
			margin-left: auto;
			display: block;

			// First level menu items
			> li {
				float: left;
				margin-left: $margin-default;
			}
		}

		.menu-btn {
			display: none;
		}
	}
}
