// Basic hero styling for demo purposes
.hero {
	background: $theme04;
	color: $theme02;

	h1 {
		font-size: 4rem;
		margin-bottom: 0;
	}
}

@media only screen and (min-width: $b3) {
	.hero {
		h1 {
			font-size: 6rem;
		}
	}
}
